body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;    
}

.first {
    flex: auto;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.right, .left {
    align-self: center;
}

.logo {1
font-size: 24px;
color: #F9FAF8;
font-weight: 900;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.hero {
    margin: 0;
}

.left, .hero  {
    font-size: 18px;
    color: #E5E7EB;
}

.first-part {
    display: flex;
    padding: 100px;
}

.heroimage {
    height: 200px;
    width: 500px;
}

.uleft, .uright {
flex: 1;
display: flex;
justify-content: center;
}


.uleft{
    align-self: center;
    flex-direction: column;
    padding: 0;
}

button {
    flex: 0;
    align-self: flex-start;
    background-color: #3382F6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px;
    width: 100px;
    font-weight: 900;
}







.second {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px ;
}

.sheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: center;
    gap: 50px;

}

.pic {
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.item  {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.text {
    text-align: center;
}









.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    flex: auto;
    color: #1F2937;
    padding: 100px;
    
}

.quote {
    font-style: oblique;
    font-size: 36px;
    padding: 0px;
    margin: 0px;
}

.author {
    font-weight: 900;
    align-self: flex-end;
    padding: 0px;
    margin: 0px;
}